@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
<form method="post" action="create" align="center">
    <h3 class="h3 mb-3 fw-normal">Введите данные</h3>
    <input type="text" name="Name"/>
    <input type="text" name="PNumber"/>
    <input type="submit" name="Press" value="OK"/>
    <input type="reset" name="Press" value="Cancel"/>
</form>
</body>