@model x3iy.Models.Phone

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta charset="UTF-8"/>
<body>
<form method="post" action="/Phone/ConfirmEdit" align="center">
    <input type="number" readonly name="ID" value="@Model.Id"/>
    <input type="text" name="Name" value="@Model.Name" />
    <input type="text" name="PNumber" value="@Model.PNumber" />
    <input type="submit" name="Press" value="OK" />
    <input type="reset" name="Press" value="Cancel" />
</form>
</body>