@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
<form method="post" action="ConfirmFind" align="center">
    <input type="text" name="Name" />
    <input type="text" name="PNumber" />
    <input type="submit" name="Press" value="OK" />
    <input type="reset" name="Press" value="Cancel" />
</form>
</body>