@model x3iy.Models.Phone[]

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    x3iy.Models.Phone[] s = Model;
}
<br>
<button><a href="/Phone/Create">Create</a></button>
<button><a href="/Phone/Find">Find</a></button>
<tbody>
@foreach (x3iy.Models.Phone sp in s)
{
    <p>
        <tr>
            <td>@sp.Id</td>
            <td>@sp.Name</td>
            <td>@sp.PNumber</td>
            <td><a href="Phone/Delete?id=@sp.Id"> Delete </a></td>
            <td><a href="Phone/Edit?id=@sp.Id"> Edit </a></td>
        </tr>
    </p>
}
</tbody>


