@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
<form method="post" action="delete" align="center">
    <h3>Введите id:</h3>
    <input type="number" name="Id" value="@ViewBag.id"/>
    <input type="submit" name="Press" value="OK"/>
    <input type="reset" name="Press" value="Cancel"/>
</form>
</body>