@model x3iy.Models.Link

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
<form method="post" action="/Link/ConfirmEdit" align="center">
    <input type="number" readonly name="ID" value="@Model.Id"/>
    <input type="text" name="Name" value="@Model.Name" />
    <input type="text" name="Url" value="@Model.Url" />
    <input type="submit" name="Press" value="OK" />
    <input type="reset" name="Press" value="Cancel" />
</form>
</body>