@model dynamic

@{
    Layout = null;
}

<body>
  <form method="post" action="ConfirmFind" align="center">
        <input type="text" name="Name" />
        <input type="text" name="Url" />
        <input type="submit" name="Press" value="OK" />
        <input type="reset" name="Press" value="Cancel" />
    </form>
</body>