@model x3iy.Models.Link[]

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    x3iy.Models.Link[] s = Model;
}
<body>
<br>
<button><a href="/Link/Create">Create</a></button>
<button><a href="/Link/Find">Find</a></button>
@foreach (x3iy.Models.Link sp in s)
{
    <p>
        <tr>
            <td>@sp.Id</td>
            <td>@sp.Name</td>
            <a href="@sp.Url">@sp.Url</a>
            <td><a href="Link/Delete?id=@sp.Id"> Delete </a></td>
            <td><a href="Link/Edit?id=@sp.Id"> Edit </a></td>
        </tr>
    </p>
}
</body>