@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h3 class="h3 mb-3 fw-normal">Введите данные</h3>
<div>
    <form method="post" action="create" align="center">
        <input type="text" name="Name" />
        <input type="text" name="Surname" />
        <input type="date" name="Bday" />
        <input type="submit" name="Press" value="OK" />
        <input type="reset" name="Press" value="Cancel" />
    </form>
</div>
