@model x3iy.Models.Student

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
<form method="post" action="/Student/ConfirmEdit" align="center">
              <input type="number" readonly name="ID" value="@Model.Id"/>
              <input type="text" name="Name" value="@Model.Name" />
              <input type="text" name="Surname" value="@Model.Surname" />
              <input type="text" name="BDay" value="@Model.Bday" />
              <input type="submit" name="Press" value="OK" />
              <input type="reset" name="Press" value="Cancel" />
              </form>
</body>