@model x3iy.Models.Student[]

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    x3iy.Models.Student[] s = Model;
}
<body>
<br>

<button><a href="/Student/Create">Create</a></button>
<button><a href="/Student/Find">Find</a></button>
@foreach (x3iy.Models.Student sp in s)
{
    <p>
        <tr>
        <td>@sp.Id</td>
        <td>@sp.Name</td>
        <td>@sp.Surname</td>
        <td>@sp.Bday</td>
        <td><a href="Student/Delete?id=@sp.Id"> Delete </a></td>
        <td><a href="Student/Edit?id=@sp.Id"> Edit </a></td>
        <tr/>
    </p>
}
</body>